<div class="my-component">
    <div class="center">
        <section>
            <button class="btn btn-primary" ui-sref="auth-all">All Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-my">My Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-search">Search</button>
        </section>
        <p>My Contacts</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Type</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in $ctrl.contacts.contacts track by $index">
                    <td>{{$index}}</td>
                    <td>{{contact.type}}</td>
                    <td>{{contact.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
