<div class="my-component">
    <div class="center">
        <section>
            <button class="btn btn-primary" ui-sref="auth-all">All Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-my">My Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-search">Search</button>
        </section>
        <p>My Contacts</p>
        <table class="add table table-striped">
            <thead>
                <tr>
                    <th>
                        <input ng-model="$ctrl.newContact.text" type="text" class="form-control" placeholder="New contact's type">
                    </th>
                    <th>
                        <input ng-model="$ctrl.newContact.type" type="text" class="form-control" placeholder="New contact's text">
                    </th>
                    <th>
                        <span ng-click="$ctrl.add()">Add</span>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="list table table-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Type</th>
                    <th>Contact</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in $ctrl.contacts track by $index">
                    <td>{{$index}}</td>
                    <td>
                        <span ng-show="!$ctrl.editing[contact.id]">{{contact.type}}</span>
                        <input ng-show="$ctrl.editing[contact.id]" ng-model="contact.type" type="text" class="form-control" placeholder="Contact Type">
                    </td>
                    <td>
                        <span ng-show="!$ctrl.editing[contact.id]">{{contact.text}}</span>
                        <input ng-show="$ctrl.editing[contact.id]" ng-model="contact.text" type="text" class="form-control" placeholder="Contact Text">
                    </td>
                    <td>
                        <span ng-show="!$ctrl.editing[contact.id]" ng-click="$ctrl.edit(contact.id)">Edit</span>
                        <span ng-show="$ctrl.editing[contact.id]" ng-click="$ctrl.save(contact)">Save</span>
                        <span ng-click="$ctrl.delete(contact.id)">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
