.my-component {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    &>.center {
        width: 70%;
        padding-top: 50px;
        margin: auto;
        &>section {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            &>button {
                margin: 0 10px;
                flex: 33;
            }
        }
        &>p {
            margin: 50px auto;
            text-align: center;
        }
        tr {
            &>td,
            &>th {
                width: 25%;
                text-align: left;
            }
            &>td:nth-child(1),
            &>th:nth-child(1) {
                width: 5%;
                text-align: left;
            }
            &>td:nth-child(4),
            &>th:nth-child(4) {
                text-align: right;
            }
        }
    }
    input {
        display: inline;
        margin-left: 0;
        height: 20px;
    }
    span {
        cursor: pointer;
    }
}
