.all-component {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    &>.center {
        width: 70%;
        padding-top: 50px;
        margin: auto;
        .person-name {
            padding-left: 8px;
        }
        &>section {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            &>button {
                margin: 0 10px;
                flex: 33;
            }
        }
        &>p {
            margin: 50px auto;
            text-align: center;
        }
        tr {
            &>td,
            &>th {
                width: 40%;
                text-align: left;
            }
            &>td:nth-child(3),
            &>th:nth-child(3) {
                width: 20%;
                text-align: right;
            }
        }
    }
    input {
        display: inline;
        width: auto;
        margin-left: 10px;
    }
}
