<div class="all-component">
    <div class="center">
        <section>
            <button class="btn btn-primary" ui-sref="auth-all">All Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-my">My Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-search">Search</button>
        </section>
        <p>All Contacts</p>
        <div ng-repeat="person in $ctrl.persons track by $index">
            <label class="person-name">{{person.name}}&nbsp;{{person.surname}}</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Type</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in person.contacts track by $index">
                        <td>{{$index}}</td>
                        <td>{{contact.type}}</td>
                        <td>{{contact.text}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
