<div class="signup-component">
    <div class="center">
        <form>
            <div class="form-group">
                <label for="formGroupInputFirstName">First Name</label>
                <input type="text" class="form-control" id="formGroupInputFirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="formGroupInputLastName">Last Name</label>
                <input type="text" class="form-control" id="formGroupInputLastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="formGroupInputEmail">E-mail</label>
                <input type="email" class="form-control" id="formGroupInputEmail" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="formGroupInputPassword">Password</label>
                <input type="password" class="form-control" id="formGroupInputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
        <p>Already have an account?</p>
        <p><strong ui-sref="login">Log in<strong></p>
    </div>
</div>
