<div class="search-component">
    <div class="center">
        <section>
            <button class="btn btn-primary" ui-sref="auth-all">All Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-my">My Contacts</button>
            <button class="btn btn-primary" ui-sref="auth-search">Search</button>
        </section>
        <p>Search Contacts</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type:
                        <input type="text" class="form-control"></input>
                    </th>
                    <th>Contact:
                        <input type="text" class="form-control"></input>
                    </th>
                    <th>Add</th>
                </tr>
            </thead>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Contact</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>E-mail</td>
                    <td>test@test.com</td>
                    <td><span>Edit</span>&nbsp;<span>Delete</span></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>test@test.com</td>
                    <td><span>Edit</span>&nbsp;<span>Delete</span></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>test@test.com</td>
                    <td><span>Edit</span>&nbsp;<span>Delete</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
